<li>

  <%= link_to "X", shoplists_path, class: "btn btn-danger", method: :delete, data: { confirm: "Určite chcete zmazať zvolený nákupný zoznam?" },
              title: shoplist.name %>
  <%= link_to shoplist.name, shoplist%>
</li>