<%provide(:title, '| Zoznamy')%>
<h1>Zoznamy</h1>

<p>Miesto na vytvorenie nákupných zoznamov</p>
<p>Produkty si do nich môžete pridávať priamo zo zoznamu produktov</p>

 <%= render @shoplists %>
<br>
<%= link_to "Nový zoznam", 'shoplists/new', class: "btn btn-success"%>



