<%provide(:title, '| Zoznamy')%>
<h1>Zoznamy</h1>

<p>Produkty si do zoznamov môžete pridávať priamo zo sekcie produktov</p>

 <%= render @shoplists %>
<br>

<%= link_to "Nový zoznam", 'shoplists/new', class: "btn btn-success"%>



