<%provide(:title, '| Zoznamy')%>
<h1>Zoznamy</h1>

<p>Vyberte si jeden zo zoznamov alebo si vytvorte nový, po otvorení si doňho môžete pridať produkty</p>

 <%= render @shoplists %>
<br>

<%= link_to "Nový zoznam", 'shoplists/new', class: "btn btn-success"%>



