<% provide(:title, "| "+@shoplist.name) %>
<div class="row">
  <div class="span8">
    <!--<% if @shoplist.products.any? %>-->
        <!--<%= render @products %>-->
    <!--<% end %>-->

  </div>
</div>