<% provide(:title, "| "+@shoplist.name) %>

<h1><%= @shoplist.name %></h1>
<div class="row">
  <div class="span8">
    <% if @shoplist.products.any? %>
        <table>
          <%= render @products %>
        </table>

    <% end %>
  </div>
</div>