<li>
  <span class="content">Cena: <%= price.price %> € - </span>
  <span class="content"><%= price.shop %></span>
  <% unless price.until.nil? %>
    <span class="content">platí do: <%= price.until %></span>
  <%end%>
</li>