<% provide(:title, '| Podmienky') %>
<h1>Podmienky služby</h1>
<p>
  Fusce vitae lorem et justo facilisis eu vel libero. Maecenas  risus, gravida at blatrices non metus. Quisque pugue et odio auctor, eu feugiat tortor consequat. Fusce pulvinar eros est, vitae gravida libero ullamcorper vel. Morbi commodo lorem vel tellus suscipit placerat. Sed blandit libero adipiscing erat pharetra rhoncus. Vivamus interdum pharetra sapien, eget blandit leo porta venenatis. Proin sagittis dui purus, ut imperdiet urna imperdiet vitae.
</p>
<p>
  Cena: .....
</p>
<p>
  Etiam lobortis, nisl etend, nunc erat semper nulla, elem turpis nibh ac orci. Sed sit amet pellentque ut ligula et lectus lacbulum volutpat in nunc. Pellentesque aliquet arcu eu bibendum aliquet. Vivamus in lorem eget elit mollis fermentum. Etiam sapien massa, tincidunt vitae accumsan sed, congue sit amet lorem. Suspendisse consectetur vel quam vel dapibus. Nulla egestas odio ipsum, et scelerisque erat dignissim at. Fusce tellus diam, posuere vitae sapien nec, vehicula vehicula.
</p>