<div class="pull-right">
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: 'Hľadať konkrétny produkt', type: :search %>
      <span class="input-group-btn">
          <%= submit_tag 'Hľadať', class: 'btn btn-default' %>
      </span>
  </div>
</div>