<%provide(:title, '| Produkty')%>
<h1>Tu budú všetky produkty</h1>

<%= will_paginate %>
<ul class="products">
  <%= render @products %>
</ul>
<%= will_paginate %>

  <br>
<%= render 'new_product' %>

