<%provide(:title, '| Produkty')%>
<h1>Produkty</h1>

<p>V pláne: text search...</p>
<%= will_paginate %>
<ul class="products">
  <%= render @products %>
</ul>
<%= will_paginate %>

  <br>
<%= render 'new_product' %>

