<%provide(:title, '| Produkty')%>
<h1>Produkty</h1>

<p>text search...</p>

<%= will_paginate %>

<!--<ul class="products">-->
  <table>
  <%= render @products %>
  </table>
<!--</ul>-->

<%= will_paginate %>

  <br>
<%= render 'new_product' %>

